<p id="notice"><%= notice %></p>

<h1 class="mt-10 text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl">Calendrier programme</h1>

<%
=begin%>
 <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start time</th>
      <th>End time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meetings.each do |meeting| %>
      <tr>
        <td><%= meeting.name %></td>
        <td><%= meeting.start_time %></td>
        <td><%= meeting.end_time %></td>
        <td><%= link_to 'Show', meeting %></td>
        <td><%= link_to 'Edit', edit_meeting_path(meeting) %></td>
        <td><%= link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> 
<%
=end%>

<br>

<%= link_to 'Ajouter un nouveau calendrier', new_meeting_path, class: "mt-4 mb-4 py-3 px-4 rounded-md bg-cyan-500 text-white shadow-md" %>

<%= month_calendar(events: @meetings) do |date, meetings| %>
  <%= date %>
  <% meetings.each do |meeting| %>
    <div class="bg-white-100">
      <%= link_to excerpt(meeting.name, '', radius: 40), meeting_path(meeting.id), class: "text-indigo-500" %>
    </div>
  <% end %>
<% end %>
