<!--<object data="<%#= url_for(Document.last.file) %>" height="800" width="800" type="application/pdf" class="m-auto mt-12"></object>-->
<!-- This example requires Tailwind CSS v2.0+ -->
<div class="pb-5 border-b border-gray-200 mt-12">
  <h3 class="text-lg leading-6 font-medium text-gray-900">
    Espace de téléchargement
  </h3>
  <p class="mt-2 max-w-4xl text-sm text-gray-500">
    Vous pouvez télécharger le manuel numérique directement en cliquand sur la couverture ou alors en cliquant sur le
    lien "Télécharger" en
    bas de l'illustration de la couverture.</p>
</div>

<!-- This example requires Tailwind CSS v2.0+ -->
<div class="pb-5 sm:flex sm:items-center sm:justify-between mt-4">
  <h3 class="text-lg leading-6 font-medium text-gray-900">
    Payer directement le manuel ?
  </h3>
  <div class="mt-3 sm:mt-0 sm:ml-4 px-4 py-2 border border-transparent text-sm font-medium text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
    <div class="inline-flex items-center">
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHNwYJKoZIhvcNAQcEoIIHKDCCByQCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYCIDGPMixj6GMPvDn8SSmaaEhd0e9T+jAmTqoG2Is+mTwY5gcyOR0X/IwEHoil38gr4VVY6vRkPnjkZ6lVLxJEWk4/mTHxMNR/9OCKbEWJZNBGeLQvZSBynm2UaKIKG31zR76aweKm1U0y1/QvGB8Hka8HxkdoSuyu6nCi18hyVYDELMAkGBSsOAwIaBQAwgbQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIuGzTJaImCQ+AgZDuiKWsGT5UrDahlYq8ZnRmLj2HgaeXtGbfjtrZXS7VBberQZUc/psn0tJ9FQ0qgCje12WUaf3VanMkS/doAA3s8ZGKfbg8A69nXsjVygATUJk/bvHAy6yCssUOxUMXIEPOIzFmROgInqrP/l3m9D+IMiYLfYj2e6P/pY8M2GPoAabsq4TtMoJy0RzJb2h4/TCgggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0yMTAxMDgxNjQxNDRaMCMGCSqGSIb3DQEJBDEWBBQaVFeQkYADpFfDVjJaVMWb1bxu/zANBgkqhkiG9w0BAQEFAASBgKzYVSnSepL4gwd0xQRUDY0ctUpi0arRgsgqxg47TjPYdEs8VwbsxCDIJKe7jrHhLb79QfCjL9IrrC5Mktel5c+c9wf8n4ZfJRyHdPYDpR4IZGUwHQJD9Kd12nzwGELF2UvTe7P5qRp55yjydLDIFXWH0md8MCKuGxxBjvIz89N1-----END PKCS7-----">
        <input type="image" src="https://www.paypalobjects.com/webstatic/mktg/logo/AM_mc_vs_dc_ae.jpg" border="0" name="submit" alt="PayPal - la solution de paiement en ligne la plus simple et la plus sécurisée !">
      </form>
    </div>

  </div>
</div>

<div class="m-auto mt-4">

  <% if params[:lang].present? %>
    <% if params[:lang] == "francais" %>

      <% if Document.second.file.attachment.previewable? %>
        <%= link_to(image_tag(Document.second.file.preview(resize: "600x600")), rails_blob_path(Document.second.file, disposition: "attachment")) %>
        <br>
        <%= link_to "Télécharger le manuel", rails_blob_path(Document.second.file, disposition: "attachment"), 
        class: "inline-flex items-center px-2.5 py-1.5 border border-gray-300 shadow-sm text-xs font-medium rounded text-gray-700 bg-white hover:bg-red-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500",
        data: {reflex: "click->ExampleReflex#redirect", id: Document.second.id} %>
      <% elsif Document.second.file.variable? %>
        <%= link_to(image_tag(Document.second.file.variant(resize: "600x600")), rails_blob_path(Document.second.file, disposition: "attachment")) %>
      <% end %>

    <% elsif params[:lang] == "english" %>

      <% if Document.third.file.attachment.previewable? %>
        <%= link_to(image_tag(Document.third.file.preview(resize: "600x600")), rails_blob_path(Document.third.file, disposition: "attachment")) %>
        <br>
        <%= link_to "Download Manual", rails_blob_path(Document.third.file, disposition: "attachment") %>
      <% elsif Document.third.file.variable? %>
        <%= link_to(image_tag(Document.third.file.variant(resize: "600x600")), rails_blob_path(Document.third.file, disposition: "attachment")) %>
      <% end %>

    <% else %>

      <p class="m-auto text-bold">
        Impossible de determiner la langue du manuel
      </p>

    <% end %>
  <% end %>

  <%# if Document.second.file.attachment.previewable? %>
    <%#= link_to(image_tag(Document.second.file.preview(resize: "600x600")), rails_blob_path(Document.second.file, disposition: "attachment")) %>
<!--    <br>-->
    <%#= link_to "Télécharger", rails_blob_path(Document.second.file, disposition: "attachment") %>
  <%# elsif Document.second.file.variable? %>
    <%#= link_to(image_tag(Document.second.file.variant(resize: "600x600")), rails_blob_path(Document.second.file, disposition: "attachment")) %>
  <%# end %>
</div>
