
<table class="table">
    <tbody>
        <% @visits.each do |visit| %>
            <tr>
                <td class="text-lg"><%= visit.ip %></td>
                <td><%= visit.browser %></td>
                <td><%= visit.os %></td>
                <td><%= visit.device_type %></td>
                <td><%= visit.country %></td>
                <td><%= visit.region %></td>
                <td><%= visit.city %></td>
                <td><%= visit.langing_page %></td>
            </tr>
        <% end %>
    </tbody>
</table >