<%= form_with(model: social_network, local: true) do |form| %>
  <% if social_network.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(social_network.errors.count, "error") %> prohibited this social_network from being saved:</h2>

      <ul>
        <% social_network.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.file_field :logo, accept: "image/*" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
