<p id="notice"><%= notice %></p>

<h1>Social Networks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @social_networks.each do |social_network| %>
      <tr>
        <td><%= social_network.name %></td>
        <td><%= social_network.url %></td>
        <td><%= link_to 'Show', social_network %></td>
        <td><%= link_to 'Edit', edit_social_network_path(social_network) %></td>
        <td><%= link_to 'Destroy', social_network, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Social Network', new_social_network_path %>
