<%= form_with(model: podcast, local: true) do |form| %>
  <% if podcast.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(podcast.errors.count, "error") %> prohibited this podcast from being saved:</h2>

      <ul>
        <% podcast.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div>
  <div class="md:grid md:grid-cols-3 md:gap-6">
    <div class="md:col-span-1">
      <div class="px-4 sm:px-0">
        <h3 class="text-xl font-medium leading-6 text-gray-900">Informations de base</h3>
        <p class="mt-1 text-sm text-gray-600">
          Ajouter toutes les informations necessaire à votre publications.
        </p>
      </div>
    </div>
    <div class="mt-5 md:mt-0 md:col-span-2">
      <div class="shadow sm:rounded-md sm:overflow-hidden">
        <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
          <div class="grid grid-cols-2 gap-6">
            <div class="col-span-3 sm:col-span-2">
              <label for="company-website" class="block text-sm font-medium text-gray-700">
                Titre du podcast ou de la publication
              </label>
              <div class="mt-1 flex rounded-md shadow-sm">
                <%= form.text_field :title, class: "focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-none rounded-md sm:text-sm border-gray-300" %>
              </div>
            </div>
          </div>

          <div>
            <label for="about" class="block text-sm font-medium text-gray-700">
              Estrait de cette publication
            </label>
            <div class="mt-1">
              <%= form.text_area :extrait, rows: 6, class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 block w-full sm:text-sm border border-gray-300 rounded-md" %>
            </div>
            <p class="mt-2 text-sm text-gray-500">
              Brief description for your profile. URLs are hyperlinked.
            </p>
          </div>

          <div class="grid grid-cols-2 gap-6">
            <div class="col-span-3 sm:col-span-2">
              <label for="company-website" class="block text-sm font-medium text-gray-700">
                Date créations (automatique)
              </label>
              <div class="mt-1 flex rounded-md">
              <div>
                <div class="mt-1">
                <%= form.datetime_select :date_creation, class: "focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-none rounded-md sm:text-sm border-gray-300" %>
                </div>
              </div>
              </div>
            </div>
          </div>

          <div>
            <label class="block text-sm font-medium text-gray-700">
              Importer une photo de couverture
            </label>
            <div class="mt-1 flex items-center">
              <span class="inline-block h-12 w-12 overflow-hidden bg-gray-100">
                <svg class="h-full w-full text-gray-300" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z" />
                </svg>
              </span>
              <%= form.file_field :cover, accept: "image/*", class: "ml-5 bg-white py-2 px-3 border border-gray-300 rounded-md shadow-sm text-sm leading-4 font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
            </div>
          </div>

          <div>
            <label class="block text-sm font-medium text-gray-700">
              Cover photo
            </label>
            <div class="mt-1 flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md">
              <div class="space-y-1 text-center">

                <% if @podcast.cover.attached? %> 
                  <%= image_tag rails_blob_path(@podcast.cover), class: "rounded-md shadow-md max-h-6xl max-w-full object-cover" %>
                <% else %>
                  <div class="max-w-md mx-auto rounded-md h-16 bg-emerald-500 select-none"></div>
                <% end %>

              </div>
            </div>
          </div>
        </div>
        <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
          
        </div>
      </div>
    </div>
  </div>
</div>

<div class="hidden sm:block" aria-hidden="true">
  <div class="py-5">
    <div class="border-t border-gray-200"></div>
  </div>
</div>

<div class="mt-10 sm:mt-0">
  <div class="md:grid md:grid-cols-3 md:gap-6">
    <div class="md:col-span-1">
      <div class="px-4 sm:px-0">
        <h3 class="text-lg font-medium leading-6 text-gray-900">Informations sur le média</h3>
        <p class="mt-1 text-sm text-gray-600">
          Use a permanent address where you can receive mail.
        </p>
      </div>
    </div>
    <div class="mt-5 md:mt-0 md:col-span-2">
      <div class="shadow overflow-hidden sm:rounded-md">
        <div class="px-4 py-5 bg-white sm:p-6">
          <div class="grid grid-cols-6 gap-6">

            <%
=begin%>
 <div class="col-span-6">
              <label for="street-address" class="block text-sm font-medium text-gray-700">Type de publication</label>
              <%= form.select(:type_podcast, options_for_select([["Meditation matinale", "Meditation matinale"], ["Prayer lunch", "Prayer Lunch"], ["Sujet de Prière", "Sujet de prière"], ["Enseignements", "Enseignement"]]), {:include_blank => "Selectionner un type de publication"}, {class: "mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"}) %>
            </div> 
<%
=end%>

            <div class="col-span-6">
              <label for="street-address" class="block text-sm font-medium text-gray-700">Type de publication (new)</label>
              <%= form.collection_select(:type_podcast_id, TypePodcast.all, :id, :name, {prompt: "Selectionner le type de podcast ..."}, {class: "mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"}) %> 
            </div>

            <div class="col-span-6">
              <label for="first-name" class="block text-sm font-medium text-gray-700">Autres directives au instructions</label>
              <%= form.text_area :content, rows: 5, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
            </div>

              <div class="col-span-6">
              <label for="first-name" class="block text-sm font-medium text-gray-700">Autres directives au instructions</label>
              <%= form.rich_text_area :content_detail, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
            </div>
            

            <div class="col-span-6 sm:col-span-3">
              <label class="block text-sm font-medium text-gray-700">
                Audio
              </label>
              <div class="mt-1 flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md">
                <div class="space-y-1 text-center">

                  <% if @podcast.audio_file.attached? %> 
                    <%= video_tag rails_blob_path(@podcast.audio_file), class: "rounded-md shadow-md max-h-full max-w-full object-cover", controls: true, cover: rails_blob_path(@podcast.cover) %>
                    <%= form.file_field :audio_file, accept: "audio/*" %>
                  <% else %>
                    <div class="col-span-6 sm:col-span-3">
                      <label for="first-name" class="block text-sm font-medium text-gray-700 mb-4">Ajouter un fichier audio</label>
                        <label
                          class="w-64 flex flex-col items-center px-4 py-6 bg-white rounded-md shadow-md tracking-wide uppercase border border-blue cursor-pointer hover:bg-purple-600 w-full hover:text-white text-purple-600 ease-linear transition-all duration-150">
                          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 11a7 7 0 01-7 7m0 0a7 7 0 01-7-7m7 7v4m0 0H8m4 0h4m-4-8a3 3 0 01-3-3V5a3 3 0 116 0v6a3 3 0 01-3 3z"></path>
                          </svg>
                          <span class="mt-2 text-base leading-normal">Fichier audio (mp3, ogg, oga, m4a, aac)</span>
                          <%= form.file_field :audio_file, accept: "audio/*", class: "hidden" %>
                        </label>
                    </div>
                  <% end %>

                </div>
              </div>
            </div>

            <div class="col-span-6 sm:col-span-3">
            <label class="block text-sm font-medium text-gray-700">
              Vidéo
            </label>
            <div class="mt-1 flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md">
              <div class="space-y-1 text-center">

                <% if @podcast.video_file.attached? %> 
                  <%= image_tag @podcast.video_file.preview(resize_to_limit: [100,100]), class: "rounded-md shadow-md max-h-6xl max-w-full object-cover" %>
                <% else %>
                  <div class="col-span-6 sm:col-span-3">
                    <label for="first-name" class="block text-sm font-medium text-gray-700 mb-4">Ajouter un fichier vidéo</label>
                    <label
                        class="w-64 flex flex-col items-center px-4 py-6 bg-white rounded-md shadow-md tracking-wide uppercase border border-blue cursor-pointer hover:bg-purple-600 w-full hover:text-white text-purple-600 ease-linear transition-all duration-150">
                        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 10l4.553-2.276A1 1 0 0121 8.618v6.764a1 1 0 01-1.447.894L15 14M5 18h8a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z"></path>
                        </svg>
                        <span class="mt-2 text-base leading-normal">Fichier vidéo (.mp4, .avi, .ogg, .ogv, .mkv)</span>
                        <%= form.file_field :video_file, accept: "video/*", class: "hidden" %>
                      </label>
                  </div>
                <% end %>

              </div>
            </div>
          </div>

          </div>
        </div>
        <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="hidden sm:block" aria-hidden="true">
  <div class="py-5">
    <div class="border-t border-gray-200"></div>
  </div>
</div>

<div class="mt-10 sm:mt-0">
  <div class="md:grid md:grid-cols-3 md:gap-6">
    <div class="md:col-span-1">
      <div class="px-4 sm:px-0">
        <h3 class="text-lg font-medium leading-6 text-gray-900">Notifications et paramètres</h3>
        <p class="mt-1 text-sm text-gray-600">
          Decide which communications you'd like to receive and how.
        </p>
      </div>
    </div>
    <div class="mt-5 md:mt-0 md:col-span-2">
      <div class="shadow overflow-hidden sm:rounded-md">
        <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
          <fieldset>
            <legend class="text-base font-medium text-gray-900">By Email</legend>
            <div class="mt-4 space-y-4">

              <div class="col-span-6 sm:col-span-3">
                <label for="country" class="block text-sm font-medium text-gray-700">Auteur de cette publication</label>
                <%= form.collection_select(:author_id, Author.all, :id, :name, {prompt: "Auteur de la publication ..."}, {class: "mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"}) %> 
              </div>

              <div class="hidden sm:block" aria-hidden="true">
                <div class="py-5">
                  <div class="border-t border-gray-200"></div>
                </div>
              </div>

              <div class="flex items-start">
                <div class="flex items-center h-5">
                  <input id="comments" name="comments" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded">
                </div>
                <div class="ml-3 text-sm">
                  <label for="comments" class="font-medium text-gray-700">Authoriser les commentaires</label>
                  <p class="text-gray-500">Get notified when someones posts a comment on a posting.</p>
                </div>
              </div>
              <div class="flex items-start">
                <div class="flex items-center h-5">
                  <input id="candidates" name="candidates" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded">
                </div>
                <div class="ml-3 text-sm">
                  <label for="candidates" class="font-medium text-gray-700">Notifier les utilisateurs enregistrés</label>
                  <p class="text-gray-500">Get notified when a candidate applies for a job.</p>
                </div>
              </div>
              <div class="flex items-start">
                <div class="flex items-center h-5">
                  <input id="offers" name="offers" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded">
                </div>
                <div class="ml-3 text-sm">
                  <label for="offers" class="font-medium text-gray-700">Rendre cet publication publique</label>
                  <p class="text-gray-500">Get notified when a candidate accepts or rejects an offer.</p>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div>
              <legend class="text-base font-medium text-gray-900">Enregistrer comme brouillon</legend>
              <p class="text-sm text-gray-500">These are delivered via SMS to your mobile phone.</p>
            </div>
            <div class="mt-4 space-y-4">
              <div class="flex items-center">
                <input id="push-everything" name="push-notifications" type="radio" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                <label for="push-everything" class="ml-3 block text-sm font-medium text-gray-700">
                  Everything
                </label>
              </div>
              <div class="flex items-center">
                <input id="push-email" name="push-notifications" type="radio" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                <label for="push-email" class="ml-3 block text-sm font-medium text-gray-700">
                  Same as email
                </label>
              </div>
              <div class="flex items-center">
                <input id="push-nothing" name="push-notifications" type="radio" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                <label for="push-nothing" class="ml-3 block text-sm font-medium text-gray-700">
                  No push notifications
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
          <%= form.submit "Enregistrer cette publication", class: "inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
        </div>
      </div>
    </div>
  </div>
</div>


  <%
=begin%>
 <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, class: "block max-w-lg w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm border-gray-300 rounded-md" %>
  </div>

  <div>
    <%= form.label :date_creation, class: "block text-sm font-medium text-gray-700" %>
    <div class="mt-1">
    <%= form.datetime_select :date_creation, class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :content, class: "block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2" %>
    <%= form.text_field :content, class: "block max-w-lg w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm border-gray-300 rounded-md" %>
  </div>

  <div class="field">
    <%= form.label :type_podcast %>
    <%= form.select(:type_podcast, options_for_select([["Meditation matinale", "Meditation matinale"], ["Prayer lunch", "Prayer Lunch"], ["Sujet de Prière", "Sujet de prière"], ["Enseignements", "Enseignement"]]), class: "block max-w-lg w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm border-gray-300 rounded-md") %>
  </div>

  <div class="field">
    <%= form.label :type_podcast_id, class: "block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2" %>
    <%= form.collection_select(:type_podcast_id, TypePodcast.all, :id, :name, {prompt: "Selectionner le type de podcast ..."}, {class: "block max-w-lg w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm border-gray-300 rounded-md"}) %> 
    <%#= form.select(:type_podcast, options_for_select([["Meditation matinale", "Meditation matinale"], ["Prayer lunch", "Prayer Lunch"], ["Sujet de Prière", "Sujet de prière"], ["Enseignements", "Enseignement"]]), class: "block max-w-lg w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm border-gray-300 rounded-md") %>
  </div>

  <div class="field">
    <%= form.label :extrait %>
    <%= form.text_area :extrait, rows: 6, class: "block max-w-lg w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm border-gray-300 rounded-md" %>
  </div>

  <div class="field">
    <%= form.label :video_file %>
    <%= form.file_field :video_file, accept: "video/*" %>
  </div>

  <div class="field">
    <%= form.label :audio_file %>
    <%= form.file_field :audio_file, accept: "audio/*" %>
  </div>

  <div class="field">
    <%= form.label :content_detail %>
    <%= form.rich_text_area :content_detail, class: "block max-w-lg w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm border-gray-300 rounded-md" %>
  </div>

  <div class="field">
    <%= form.label :couverture %>
    <%= form.file_field :cover, accept: "image/*" %>
  </div>

  <div class="actions">
    <%= form.submit "Enregistrer ce podcast", class: "ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
  </div> 
<%
=end%>
<% end %>
