<%= form_with(model: podcast, local: true) do |form| %>
  <% if podcast.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(podcast.errors.count, "error") %> prohibited this podcast from being saved:</h2>

      <ul>
        <% podcast.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, class: "block max-w-lg w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm border-gray-300 rounded-md" %>
  </div>

  <div>
    <%= form.label :date_creation, class: "block text-sm font-medium text-gray-700" %>
    <div class="mt-1">
    <%= form.datetime_select :date_creation, class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content, class: "block max-w-lg w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm border-gray-300 rounded-md" %>
  </div>

  <div class="field">
    <%= form.label :type_podcast %>
    <%= form.select(:type_podcast, options_for_select([["Meditation matinale", "Meditation matinale"], ["Prayer lunch", "Prayer Lunch"], ["Sujet de Prière", "Sujet de prière"], ["Enseignements", "Enseignement"]]), class: "block max-w-lg w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm border-gray-300 rounded-md") %>
  </div>

  <div class="field">
    <%= form.label :extrait %>
    <%= form.text_area :extrait, rows: 6, class: "block max-w-lg w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm border-gray-300 rounded-md" %>
  </div>

  <div class="field">
    <%= form.label :video_file %>
    <%= form.file_field :video_file, accept: "video/*" %>
  </div>

  <div class="field">
    <%= form.label :audio_file %>
    <%= form.file_field :audio_file, accept: "audio/*" %>
  </div>

  <div class="field">
    <%= form.label :content_detail %>
    <%= form.rich_text_area :content_detail, class: "block max-w-lg w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm border-gray-300 rounded-md" %>
  </div>

  <div class="field">
    <%= form.label :couverture %>
    <%= form.file_field :cover, accept: "image/*" %>
  </div>

  <div class="actions">
    <%= form.submit "Enregistrer", class: "ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
  </div>
<% end %>
