<p id="notice"><%= notice %></p>
<style>
  /* .player .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */

  audio::-webkit-media-controls-play-button,
  audio::-webkit-media-controls-panel {
    background-color: #18f;
    color: #18f;
  }

  .container audio {
    width: 100%
    outline: none;
  }

  audio {
    width: 100%;
    max-width: 500px;
  }
</style>

<!-- This example requires Tailwind CSS v2.0+ -->
<nav class="flex mb-8" aria-label="Breadcrumb">
  <ol class="flex items-center space-x-4">
    <li>
      <div>
        <a href="/" class="text-gray-400 hover:text-gray-500">
          <!-- Heroicon name: solid/home -->
          <svg class="flex-shrink-0 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
          </svg>
          <span class="sr-only">Home</span>
        </a>
      </div>
    </li>

    <li>
      <div class="flex items-center">
        <!-- Heroicon name: solid/chevron-right -->
        <svg class="flex-shrink-0 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
        </svg>
        <%= link_to controller_name.humanize, podcasts_path(lang: "fr"), class: "hover:bg-transparent hover:text-indigo-500 ml-4 text-sm font-medium text-gray-500 hover:text-gray-700" %>
      </div>
    </li>

    <li>
      <div class="flex items-center">
        <!-- Heroicon name: solid/chevron-right -->
        <svg class="flex-shrink-0 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
        </svg>
        <a href="#" class="hover:bg-transparent hover:text-indigo-500 ml-4 text-sm font-medium text-gray-500 hover:text-gray-700" aria-current="page"><%= params[:id] %></a>
      </div>
    </li>

    <li>
      <div class="flex items-center">
        <!-- Heroicon name: solid/chevron-right -->
        <svg class="flex-shrink-0 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
        </svg>
        <a href="#" class="hover:bg-transparent hover:text-indigo-500 ml-4 text-sm font-medium text-gray-500 hover:text-gray-700" aria-current="page"><%= excerpt(@podcast.title, "", radius: 10) %></a>
      </div>
    </li>
  </ol>
</nav>

<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-white shadow overflow-hidden sm:rounded-lg mb-10">
  <div class="px-4 py-5 sm:px-6">
    <h3 class="text-lg leading-6 font-medium text-gray-900">
      <%= @podcast.title %>
    </h3>
    <p class="mt-1 max-w-2xl text-sm text-gray-500">
      Ministère Par la Parole Prophétique
    </p>
  </div>
  <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
    <dl class="sm:divide-y sm:divide-gray-200">
      <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Date création
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <%= @podcast.created_at.strftime("%d %B %Y - %Hh:%Mm") %>
        </dd>
      </div>
      <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Type de programme
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <%= @podcast.type_podcast_id.nil? ? "Not found" : @podcast.type_podcast.name %>
        </dd>
      </div>
      <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Résumé
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <%= @podcast.content_detail.body %>
        </dd>
      </div>
      <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Extraits
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <%= @podcast.extrait %>
        </dd>
      </div>
      <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Instructions & orientations
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <%= @podcast.content.empty? ? "Aucune instruction trouvé ou publiée" : @podcast.content %>
        </dd>
      </div>
      <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Fichier audio
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <% if @podcast.audio_file.attached? %>
            <% if @podcast.audio_file.audio? %>
              <div class="gap-example fixed w-full bottom-1 item-center right-0 xl:left-50">
                <%= audio_tag rails_blob_path(@podcast.audio_file), id: "player", controls: true, class: "border-2 rounded-full md:m-auto" %>
            <% else %>
              Aucun fichier Audio trouvé
            <% end %>
          <% end %>
        </dd>
      </div>
      <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Fichier vidéo
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <% if @podcast.video_file.attached? %>
            <% if @podcast.video_file.video? %>
              <%= video_tag(rails_blob_path(@podcast.video_file), controls: true, preload: true, height: 250 ) %>
              <br />
              <%= link_to rails_blob_path(@podcast.video_file, disposition: "attachment"), class: "inline-flex items-center px-3 py-2 border border-transparent shadow-sm text-sm leading-4 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" do %>
                <!-- Heroicon name: solid/mail -->
                <svg class="-ml-0.5 mr-2 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
                  <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
                </svg>
                Télécharger
              <% end %>
            <% end %>
            <% else %>
            Aucun fichier vidéo trouvé ou publié
          <% end %>
        </dd>
      </div>
      <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Téléchargement(s)
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <ul class="border border-gray-200 rounded-md divide-y divide-gray-200">
            <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
              <div class="w-0 flex-1 flex items-center">
                <!-- Heroicon name: solid/paper-clip -->
                <svg class="flex-shrink-0 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z" clip-rule="evenodd" />
                </svg>
                <% if @podcast.audio_file.attached? %>
                  <% if @podcast.audio_file.audio? %>
                    <span class="ml-2 flex-1 w-0 truncate">
                      <%= @podcast.audio_file.filename %>
                    </span>
                  <% else %>
                    Aucun fichier Audio trouvé
                  <% end %>
                </div>
                <div class="ml-4 flex-shrink-0">
                  <%= link_to "Telécharger", rails_blob_path(@podcast.audio_file, disposition: "attachment"), class: "font-medium text-indigo-600 hover:text-indigo-500" %>
                </div>
              <% end %>
            </li>
            <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
              <div class="w-0 flex-1 flex items-center">
                <!-- Heroicon name: solid/paper-clip -->
                <svg class="flex-shrink-0 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z" clip-rule="evenodd" />
                </svg>
                <% if @podcast.video_file.attached? %>
                  <% if @podcast.video_file.video? %>
                    <span class="ml-2 flex-1 w-0 truncate">
                      <%= @podcast.video_file.filename %>
                    </span>
                  <% else %>
                    Aucun fichier Audio trouvé
                  <% end %>
                </div>
                <div class="ml-4 flex-shrink-0">
                  <%= link_to "Telécharger", rails_blob_path(@podcast.video_file, disposition: "attachment"), class: "font-medium text-indigo-600 hover:text-indigo-500" %>
                </div>
                <% else %>
                  <div class="ml-4 flex-shrink-0">
                    Aucun fichier vidéo à télécharger
                  </div>
              <% end %>
            </li>
          </ul>
        </dd>
      </div>
      <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Commentaires
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <p class="mt-10">
            <script async src="https://comments.app/js/widget.js?3" data-comments-app-website="ItAmBwuZ" data-limit="5"></script>
          </p>
        </dd>
      </div>
    </dl>
  </div>
</div>

<div class="mb-20">
  <%= link_to 'Editer | ', edit_podcast_path(@podcast), class: "mt-8" if user_signed_in? %>
  <%= link_to 'Back', podcasts_path(lang: :fr) %> | <a href="#" onclick="share();">Partager</a>
</div>

<script>
  function share(){
    if (navigator.share) {
      navigator.share({
        title: document.title,
        text: "<%= @podcast.title.capitalize %>",
        url: document.location.href
      }).then(() => {
        console.log('Thanks for sharing!');
      })
      .catch(console.error);
    } else {
      // fallback
    }
  }

  new GreenAudioPlayer('.gap-example');

  // var sound = new Howl({
  //   src: ["<%= rails_blob_path(@podcast.audio_file) %>"]
  // });

  //sound.play();

</script>
