<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @podcast.title %>
</p>

<p>
  <strong>Date creation:</strong>
  <%= @podcast.date_creation %>
</p>

<p>
  <strong>Content:</strong>
  <%= @podcast.content %>
</p>

<%= link_to 'Edit', edit_podcast_path(@podcast) %> |
<%= link_to 'Back', podcasts_path %>
