<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @podcast.title %>
</p>

<p>
  <% if @podcast.video_file.attached? %>
    <% if @podcast.video_file.audio? %>
      <video autoplay="autoplay" controls="true" height="250" width="250" src="<%= @podcast.video_file.filename %>" type="<%= @podcast.video_file.content_type %>"></video>
    <% end %>
  <% end %>
</p>

<p>
  <strong>Date creation:</strong>
  <%= @podcast.date_creation %>
</p>

<p>
  <strong>Content:</strong>
  <%= @podcast.content %>
</p>

<p>
  <script async src="https://comments.app/js/widget.js?3" data-comments-app-website="ItAmBwuZ" data-limit="5"></script>
</p>

<%= link_to 'Edit', edit_podcast_path(@podcast) %> |
<%= link_to 'Back', podcasts_path %>
